@import url("base.css");
.header{
	height: 435px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 40px rgba(0,0,0,.6);
    background: red;
    width: 100%;
    min-width: 1170px;
}
.header .nav{
	height: 435px;
    background-size: cover;
    background: url(../img/solution.1f44162.png);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}
.topnav{
	 width: 100%;
    min-width: 1170px;
    height: 100px;
    background-color: rgba(0,0,0,.07);
    padding: 0;
    margin: 0;;
    z-index: 999;
    position: absolute;
    top: 0;
}
.topnav1{
	width: 1170px;
	height: 100px;

	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav-logo{
	/*width: 180px;
	height: 100px;
	box-sizing: border-box;*/

	width: 180px;
    height: 100px;
    line-height: 100px;
    float: left;
    padding-left: 40px;
    box-sizing: border-box;
}
.nav-logo img {
    border: 0;
    vertical-align: middle;
}
.nav-bar{
	/*width: 990px;
	height: 100px;
	box-sizing: border-box;*/

	float: left;
    width: 990px;
    height: 100px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 85px!important;
    color: #fff;
}
.topwen{
	width: 905px;
	height: 100px;
	z-index: 9999;
}
.tabs-con:hover{
	border-bottom: 2px solid #fff;
    border-bottom-color: hsla(0,0%,100%,.7);
	
}
.topwen .active{
	background: none;
    border-bottom: 2px solid #fff;
    border-bottom-color: hsla(0,0%,100%,.7);
}
.tabs-con{
	position: relative;
    float: left;
    width: 139px;
    height: 100px;

}
.tabs{
	display: inline-block;
    width: 139px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}
.nav h1{
	/*margin-top: 86px;*/
    color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 110px!important;
    font-weight: 200;
}
.solution-title{
	    background: #f0f4fc;
    padding: 0
}
.s-t-twxt{
	    width: 1170px;
    margin: 0 auto;
    display: block;
    overflow: hidden
}
.s-t-twxt p{
	width: 1170px;
    padding: 65px 0 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: #252525;
    border-bottom: 1px solid #a9a9a9;
}
.point1{
	    background: #f0f4fc
}
.common{
	    width: 1170px;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 340px;
    margin: 0 auto;
}
.common-left{
	padding-right: 40px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.point-title{
	display: block;
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}
.xian{
	    width: 153px;
    display: inline-block;
    height: 2px;
    background: #3d96e7;
}
.p-text{
	font-size: 16px;
    color: #333;
    line-height: 30px;
    margin-top: 10px;
    text-align: justify;
}
.common-right{
	padding-left: 40px;
    float: right;
    width: 50%;
    box-sizing: border-box;
}
.solution2{
	background: url(../img/0204.c33d5ae.png) no-repeat top;

    background-size: cover;
    height: 520px;
}
.solution2 .common-left p{
	color: white;
}
.solution2 .common-left .xian{
	background: white;
}
.solution3{
	background:url(../img/0205.9b4bd73.png) no-repeat top;
	background-size: cover;
    height: 520px;
}
.solution3 .common-right p{
	color: white;
}
.solution3 .common-right .xian{
	background: white;
}
.contain{
	width: 1170px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.ccc-title{
	font-size: 36px;
    color: #454a65;
    line-height: 1.5;
    margin-top: 70px;
    text-align: center;
    font-weight: 200;
}
.solution-box{
	margin: 50px auto 70px;
    position: relative;
    width: 290px;
    height: 269px;
    float: left;
    box-sizing: border-box;
    margin-right: 3px;
    cursor: pointer;
}
.solu-box{
	height: 269px;
    display: table;
    width: 100%;
}
.sbox1{
	background: url(../img/0208.4004623.png);
}
.box-hover{
	width: 290px;
    height: 269px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    transition: all .5s ease;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.box-hover em{
	display: none;
    width: 240px;
    margin: 0 auto;
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    line-height: 26px;
    text-align: center;
    font-style: normal;
}
.solution-box p{
	font-size: 20px;
    color: #fff;
    line-height: 269px;
    text-align: center;
    font-weight: 200;
}
.solution-box:hover p{
	display: none;
}
.solution-box:hover .box-hover em{
	display: block;
}
.solution-box:hover .box-hover{
	background: rgba(0,0,0,0.6);
}
.point1 .solution-box:last-child{
	margin-right: 0;
}
.footer{
	
    width: 100%;
    min-width: 1170px;
    background: #232427;
}
.footer-top{
	    width: 1170px;
    padding-top: 70px;
    height: 370px;
    margin: 0 auto
}
.footer-logo{
	    float: left;
    width: 245px;
    margin-top: 10px;
}
.footer-lie{
	width: 290px;
	float: left;
}
.thin{
	float: left;
	width: 170px;
}
.footer-lie h4{
	    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}
.footer-top p{
	    font-size: 14px;
    color: #a3a3a3;
    line-height: 26px;
    margin-bottom: 10px;
}
.footer-lie p a{
	font-size: 14px;
    color: #a3a3a3;
    line-height: 26px;
    text-decoration: none;
}
.message{
	margin: auto 8px auto 5px;
}
.footer-bottom{
	height: 60px;
    border-top: 1px solid #403e3e;
    color: #7d7d7d;
    line-height: 60px;
}
.footer-bottom p{
	    width: 1170px;
    font-size: 14px;
    margin: 0 auto;
}
.footer-bottom p span{
	    font-size: 14px;
    float: right;
}

