@import url("base.css");
.header{
	height: 435px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 40px rgba(0,0,0,.6);
    background: red;
    width: 100%;
    min-width: 1170px;
    box-sizing: border-box;
}
.header .nav{
	height: 435px;
    background-size: cover;
    background: url(../img/2501.bb04c8c.png) 50% no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    min-width: 1170px;
    
}
.topnav{
	 width: 100%;
    min-width: 1170px;
    height: 100px;
    background-color: rgba(0,0,0,.07);
    padding: 0;
    margin: 0;;
    z-index: 999;
    position: absolute;
    top: 0;
}
.topnav1{
	width: 1170px;
	height: 100px;

	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav-logo{
	/*width: 180px;
	height: 100px;
	box-sizing: border-box;*/

	width: 180px;
    height: 100px;
    line-height: 100px;
    float: left;
    padding-left: 40px;
    box-sizing: border-box;
}
.nav-logo img {
    border: 0;
    vertical-align: middle;
}
.nav-bar{
	/*width: 990px;
	height: 100px;
	box-sizing: border-box;*/

	float: left;
    width: 990px;
    height: 100px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 85px!important;
    color: #fff;
}
.topwen{
	width: 905px;
	height: 100px;
	z-index: 9999;
}
.tabs-con:hover{
	border-bottom: 2px solid #fff;
    border-bottom-color: hsla(0,0%,100%,.7);
	
}
.topwen .active{
	background: none;
    border-bottom: 2px solid #fff;
    border-bottom-color: hsla(0,0%,100%,.7);
}
.tabs-con{
	position: relative;
    float: left;
    width: 139px;
    height: 100px;

}
.tabs{
	display: inline-block;
    width: 139px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}
.nav h1{
	/*margin-top: 86px;*/
    color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 110px!important;
    font-weight: 200;
}
.contant-text{
    background: #f0f4fc;
    padding: 0
}
.contain{
	margin: 0 auto;

	width: 1170px;
	width: 1170px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
	
}
.contain .tt{
	width: 1170px;
    padding: 65px 0 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: #252525;
    border-bottom: 1px solid #a9a9a9;
}
.point-1{
    background: #f0f4fc;
	
}
.effect{
	width: 880px;
    margin: 0 auto;
    padding-top: 50px;
}
.effect-title{
	font-size: 30px;
    color: #007fff;
    text-align: center;
    line-height: 42px;
    margin: 0 auto;
    padding-bottom: 36px;
}
.effect-tu img{
	background: url(../h7.c4cb802.jpg);
    /*background-size: 100%;*/
   width: 880px;
	height: 302px;
	display: block;
}
.effect .effect-text{
	font-size: 14px;
    color: #6a737c;
    line-height: 24px;
    padding: 50px 0;
    text-align: justify;

}
.titlt-blue{
	font-size: 30px;
    color: #007fff;
    text-align: center;
    line-height: 42px;
    margin: 0 auto;
    padding-bottom: 36px;
}
.package{
	padding: 30px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.common-left{
	padding-right: 40px;
    width: 50%;
    float: left;
}
.common-left img{
	width: 540px;
    height: 302px;
    overflow: hidden;
}
.common-right{

    padding-left: 40px;
    float: right;
    width: 50%;
}
.package-contant{
	    width: 380px;
    margin: auto;
}
.common-right .package-title{
	font-size: 18px;
    color: #262626;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.package-text{
	font-size: 14px;
    color: #333;
    line-height: 25px;
    list-style: disc outside;
}
.user{
	    padding: 80px 0
}
.user-contant{
	width: 1056px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
}
.user-item{
	width: 216px;
    padding: 20px 0;
    margin: 0 68px;
    float: left;
}
.user-title{
	font-size: 20px;
    color: #262626;
    line-height: 28px;
    text-align: center;
}
.user-text{
	font-size: 14px;
    color: #6a737c;
    line-height: 24px;
    margin-top: 23px;
    text-align: justify;
}
.ccc-title{
	font-size: 36px;
    color: #454a65;
    line-height: 1.5;
    margin-top: 70px;
    text-align: center;
    font-weight: 200;
}
.solution-box{
	margin: 50px auto 70px;
    position: relative;
    width: 290px;
    height: 269px;
    float: left;
    box-sizing: border-box;
    margin-right: 3px;
    cursor: pointer;
}
.solu-box{
	height: 269px;
    display: table;
    width: 100%;
}
.sbox1{
	background: url(../img/l1.f6d0ef4.png) no-repeat;
}
.sbox2{
	background: url(../img/l2.039bb44.png)no-repeat;
}
.sbox3{
	background: url(../img/l3.4e53638.png)no-repeat;
}
.sbox4{
	background: url(../img/l4.29ae7da.png)no-repeat;
}
.box-hover{
	width: 285px;
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    transition: all .5s ease;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.box-hover em{
	display: none;
    width: 240px;
    margin: 0 auto;
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    line-height: 26px;
    text-align: center;
    font-style: normal;
}
.solution-box p{
	font-size: 20px;
    color: #fff;
    line-height: 269px;
    text-align: center;
    font-weight: 200;
}
.solution-box:hover p{
	display: none;
}
.solution-box:hover .box-hover em{
	display: block;
}
.solution-box:hover .box-hover{
	background: rgba(0,0,0,0.3);
}
.point1 .solution-box:last-child{
	margin-right: 0;
}
.point-1{
    background: #f0f4fc;
	
}
/*.line{
	padding: 80px 0;
}*/
.footer{
	
    width: 100%;
    min-width: 1170px;
    background: #232427;
}
.footer-top{
	    width: 1170px;
    padding-top: 70px;
    height: 370px;
    margin: 0 auto
}
.footer-logo{
	    float: left;
    width: 245px;
    margin-top: 10px;
}
.footer-lie{
	width: 290px;
	float: left;
}
.thin{
	float: left;
	width: 170px;
}
.footer-lie h4{
	    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}
.footer-top p{
	    font-size: 14px;
    color: #a3a3a3;
    line-height: 26px;
    margin-bottom: 10px;
}
.footer-lie p a{
	font-size: 14px;
    color: #a3a3a3;
    line-height: 26px;
    text-decoration: none;
}
.message{
	margin: auto 8px auto 5px;
}
.footer-bottom{
	height: 60px;
    border-top: 1px solid #403e3e;
    color: #7d7d7d;
    line-height: 60px;
}
.footer-bottom p{
	    width: 1170px;
    font-size: 14px;
    margin: 0 auto;
}
.footer-bottom p span{
	    font-size: 14px;
    float: right;
}
